NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WEB3_TARGET_CHAIN_ID=999
NEXT_PUBLIC_HYPEREVM_RPC_URL=https://rpc.hyperliquid.xyz/evm
NEXT_PUBLIC_HYPEREVM_EXPLORER_URL=https://app.hyperliquid.xyz/explorer
NEXT_PUBLIC_USDC_ADDRESS=0xb88339CB7199b77E23DB6E890353E22632Ba630f
NEXT_PUBLIC_ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
NEXT_PUBLIC_ARBITRUM_EXPLORER_URL=https://arbiscan.io
NEXT_PUBLIC_ARBITRUM_USDC_ADDRESS=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
NEXT_PUBLIC_HYPERLIQUID_EXCHANGE_URL=https://api.hyperliquid.xyz
NEXT_PUBLIC_HYPERLIQUID_SYSTEM_ADDRESS=0x2222222222222222222222222222222222222222
NEXT_PUBLIC_HYPERLIQUID_DEPOSIT_URL=https://app.hyperliquid.xyz/trade
NEXT_PUBLIC_HYPERLIQUID_CORE_EVM_TRANSFER_URL=https://app.hyperliquid.xyz/portfolio
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=fa23a2d40a8c43d4e52e66de3f923cde
NEXT_PUBLIC_WEB3_ENABLE_ARBITRUM=1
