NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WEB3_TARGET_CHAIN_ID=999
NEXT_PUBLIC_HYPEREVM_RPC_URL=https://rpc.hyperliquid.xyz/evm
NEXT_PUBLIC_HYPEREVM_EXPLORER_URL=https://app.hyperliquid.xyz/explorer
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_WEB3_ENABLE_ARBITRUM=1
NEXT_PUBLIC_ULIQ_PUBLIC_PRESALE_ENABLED=false
NEXT_PUBLIC_ULIQ_PUBLIC_PRESALE_LIVE_DATA_ENABLED=false
NEXT_PUBLIC_ULIQ_PUBLIC_PRESALE_CHAIN_ID=42161
NEXT_PUBLIC_ULIQ_ADMIN_VISIBLE=false
