NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_WEB3_TARGET_CHAIN_ID=999
NEXT_PUBLIC_HYPEREVM_RPC_URL=https://rpc.hyperliquid.xyz/evm
NEXT_PUBLIC_HYPEREVM_EXPLORER_URL=https://app.hyperliquid.xyz/explorer
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=fa23a2d40a8c43d4e52e66de3f923cde
NEXT_PUBLIC_WEB3_ENABLE_ARBITRUM=1
